<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO OG -->
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="능동적으로">
    <meta property="og:description" content="대전시 그래픽디자이너모임 능동적으로">
    <meta property="og:image" content="/src/images/actact-preview.png">

    <!-- SEO TWITTER -->
    <meta name="twitter:card" content="능동적으로">
    <meta name="twitter:title" content="능동적으로">
    <meta name="twitter:description" content="대전시 그래픽디자이너모임 능동적으로">
    <meta name="twitter:image" content="/src/images/actact-preview.png">


    {% if page.title-custom == true %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="{{ page.page-body-class}}">
