
html,
body {
    height: 100%;
    background-color: $black;
    color: #fff;
    font-size: 16px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.screen-loading {
  overflow: hidden;
  background: $black;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
}

.container-1660 {
  max-width: 1660px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-1340 {
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.container-1200 {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.home-header {
  p {
    font-size: 1.5rem;
  }
}

.btn__to-top {
  cursor: pointer;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  opacity: 1;
  z-index:101;
  background: $black;
  padding: .5rem;

  &:hover {
    opacity: 0.8;
  }
}

.close-btn {
  z-index: 101;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 1rem; 
  right: 1rem;
  &:after,
  &:before {
    width: 4px;
    border-radius: 8px;
    height: 2rem;
    background: #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: center;

  }
  &:after {

    transform: rotate(45deg);
  }
  &:before {
    transform: rotate(-45deg);

  }
}

.back-btn {

  position: absolute;
  top: 1rem;
  background-color: $white;

  a{ 
    
    color: $black; 

    &:hover {
      i {
        opacity: 0.5; 
      }
      
    }

    i {
      font-size: 3rem;
    }
  }
  
}

.current-page {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.button-navigator {


  a {
    position: fixed;
    background-image: url(/src/images/arrow-side-white.svg);
    background-size: 28px 52px;
    width: 38px;
    background-color: #000;
    height: 62px;
    top: 50%;
    margin-top: -26px;
    z-index: 101;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-color: #333;
    }
    &.prev {
      left: 1rem;
    }

    &.next {
      right: 1rem;
      transform: rotate(180deg);
    }
  }

  // .prev,
  // .next {
  //   &:before, 
  //   &:after {
  //     position: absolute;
  //     content: "";
  //     display: block;
  //     width: 4px;
  //     height: 25px;
  //     border-radius: 8px;
  //     background: white;
  //     transform-origin: top left ;
  //     left: 0;
  //     top: 0;
  //   }

  //   &:before {
  //     transform: rotate(45deg);
  //   }

  //   &:after {
  //     transform: rotate(-45deg);
  //   }
    
}

.actact-logo-animated {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 0;
    margin-left: -184px;
    z-index: 0;
    top: 25rem;

    .screen-loading & {
      top: 50%;
      margin-top: -184px;
    }

  .logo-text {
    position: absolute;
    top: 0;
    left: 0;

    animation: logoTextRotate;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .logo-globe {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes logoTextRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg) ;
  }
}

.content-body {
  position: relative;
}

.img__actact-logo {
  max-width: 580px;
  width: 100%;
}

.img__daejeonsi-gif {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.text-loading-big {
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8.75rem;
  z-index: 1;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
  text-align: center;
}