
html,
body {
  height: 100%;
  background-color: #000;
  color: #fff;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
