.page__exhibition {
    .content-header {
        background: $white;
        color: $light-black;
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;

        .exhibition-logo__daejeonsi {
            max-width: 580px;
            width: 100%;
        }
    }
    .content-body.content-body__works {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
        background: $black;

        .exhibition-title {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;

            img {
                width: 240px;
                height: 64.5px;
            }

            span {
                color: #fff;
                font-weight: 300;
                font-size: 1.5rem;
            }
        }

        .exhibition-desc,
        .exhibition-address,
        .exhibition-date,
        .exhibition-host{
           margin-bottom: 4.375rem;
        }

        h4 {
            color: $color-dajeonsi-orange;
            font-weight: 700;
        }

        ul {
            font-weight: 700;
            display: flex;
            flex-direction: row;
            justify-content: flex-start; 
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 4.375rem;

            &, li {
                list-style: none;
                padding-left: 0;
            }

            li {
                padding-right: 1rem;
            }

        }

        p {
            font-weight: 700;
        }
    }

    .content-body.content-body__authors {
        background: $white;
        color: $light-black;
    }

    .authors-list {
        line-height: 1.2;
        margin-bottom: 10rem;

        .authors-head {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 3px solid $black;
            font-size: 1.5rem;
            padding-top: 5rem;
            padding-bottom: 1rem;
        }

        .authors {
            a {
                color: inherit;

                &:hover {
                    color: $color-dajeonsi-orange;
                }
            }

            .author {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-weight: 900;
                font-size: 2.5rem;
                padding-top: 1.5rem;
            }
        }
    }
}