.page__home {
    .main-item {
        // max-width: 1360px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem;
        margin-bottom: 0;
        position: relative;
        z-index: 1;

        .image {
            margin-bottom: 1.875rem;
            transition: all 0.5s ease-in-out;
        }

        .caption {
            transition: all 0.5s ease-in-out;

            h3 {
                font-size: 2.25rem;
            }

            span {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        &.main-item--last {
            padding-bottom: 8rem;
            
            @include media-breakpoint-down(lg) {
                margin-top: 4rem;
            }
        }

        &.main-item--first {
            margin-top: 10.25rem;

            @include media-breakpoint-down(lg) {
                margin-top: 4rem;
            }
        }

        &:hover {
            .image {
                // opacity: 0.8;
                transition: all 0.5s ease-in-out;
            }

            .caption {
                text-decoration: underline;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    
    .home-header {
        padding-top: 5rem;
        svg {
            max-width: 36.25rem;    
        }
    }
}   