
$defaultLetterSpacing: -0.015625em;
$defaultWordBreakWord: keep-all;

$pink: #FF6490;
$light-pink: #ff8686;
$lighter-pink: #ff9db9;
$dyed-pink: #eca0a0;
$pale-pink: #ffe7ee;

$dark-pink: #d12043; 

$black: #000;
$light-black: #333;
$white: #fff;

$gray: #666;
$light-gray: #777;
$lighter-gray: #999;
$verylight-gray: #f5f5f5;

$color-dajeonsi-orange: #F39200;

$cyan: #3BAACC;

$color-primary: $pink;
$color-primary-light: $light-pink;
$color-secondary: $cyan;
$color-secondary-pale: $pale-pink;